.cp-card {
    display: flex;
    justify-content: flex-start;
    margin: 50px 350px;
}

.cp-card-title {
    text-align: center;
}

.ant-card-body {
    width: 100%;
}

@media only screen and (max-width: 600px) {
    .mobile-empty {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  @media only screen and (max-width: 600px) {
    .cp-card {
        display: flex;
        justify-content: center;
        margin: 0;
    }
  }