.cp-card-container {
  display: flex;
  justify-content: center;
}

.cp-card {
  display: flex;
  justify-content: space-evenly;
  width: 45%;
  border: .8px solid gray;
  padding: 20px;
  margin: 20px;
  border-radius: 4px;
  box-shadow: 2.5px 2px 3px -2px rgba(0,0,0,0.75);
}

.cp-card-title {
    text-align: center;
}

.ant-card-body {
    width: 100%;
}

@media only screen and (max-width: 600px) {
    .mobile-empty {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  @media only screen and (max-width: 600px) {
    .cp-card {
        display: flex;
        justify-content: center;
        margin: 0;
    }
  }

  .cp-card-teams {
    width: 100%;
    margin: 0;
    text-align: center;
}